:root {
  --bg-color: #1b1c1d;
  --pop-color: #222325;
}

body {
  background-color: var(--bg-color);
}

nav {
  padding: 11px 30px;
}

.contain {
  gap: 5px;
}

.logo {
  gap: 2px;
}

.logo > h1 {
  font-size: 25px;
}

.logo-img {
  width: 35px !important;
  height: 35px !important;
}

header .contain > img {
  width: 30px;
  height: 30px;
}

/* ------------------------------------------------- */
.sidebar {
  width: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  height: 100%;
  border-right: 1px solid rgb(48, 48, 48);
  transition: 0.3s all;
  height: 92vh;
}

.sidebar button {
  background-color: rgb(45 42 42);
  color: white;
  padding: 16px 0;
  width: 120px;
  font-size: 15px;
  border-radius: 14px;
}

.sidebar button:hover {
  background-color: rgb(52, 47, 47);
}

.sidebar .list {
  border-radius: 2px solid white;
  text-transform: capitalize;
}

.ArrowHead > img {
  width: 15px;
  height: 15px;
}

.sidebar-container {
  height: 92vh;
  background-color: rgba(137, 43, 226, 0);
}

@media (max-width: 1024px) {
  .sidebar-container {
    position: absolute !important;
  }

  .task-content-container {
    width: 100% !important;
  }

  main > .container {
    flex-direction: column;
    align-items: center;
  }

  .main-contain > .contain-content {
    width: 100% !important;
  }
}
/* ------------------main */

.task-content-container {
  flex: 1 1 100px; /* grow:1, shrink:1, basis:100px */
  min-width: 295px; /* never smaller than 50px */
  max-width: 60%; /* never bigger than 100px */
  /* background: red; */
}

.overflow-container {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

main > .container {
  height: 92vh;
}

.main-contain {
  height: 92vh;
  /* background: red; */
}

.main-contain > .contain-content {
  width: 100%;
  height: 100%;
}

.main-contain .contain {
  min-height: 20%;
  max-height: 90%;
  width: 100%;
  background-color: black;
  padding: 26px 26px;
  border-radius: 30px;
}

img[src="./assets/Dots.svg"] {
  width: 15px;
  height: 15px;
}

.head h3 {
  font-size: 20px;
  font-weight: lighter;
}

.empty-task {
  margin: 30px 0;
}

.empty-task .content {
  width: 60%;
  text-align: center;
  gap: 10px;
}

.head .add-task {
  padding: 8px 15px;
  border-radius: 30px;
}

.head .add-task:hover {
  background-color: var(--bg-color);
}

.no-task-img {
  height: 100px;
  width: auto;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* ------------------------------------------------ */

.pop-container {
  width: 100%;
  height: 100%;
  background-color: #000000e0;
  display: none;
  z-index: 50;
}

.pop-pop {
  background-color: var(--pop-color);
  padding: 60px 45px;
  border-radius: 30px;
}

#pop-text {
  border-radius: 5px !important;
  color: black;
  letter-spacing: 1px;
}

.pop-btn {
  background: none;
  color: rgb(0, 92, 240);
  font-weight: 200;
}

.pop-btn:active {
  color: rgb(58, 127, 238);
}

/* ---------------------------------------------- */

.list-task-contain {
  padding: 5px 20px;
  min-height: 40px;
  max-height: auto;
}

.task-container {
  border-radius: 20px;
}

.task-container {
  background: #313336;
}

.detail {
  position: relative;
  left: 31px;
}

.dots-input {
  display: inline-block;
}

.detail > textarea {
  resize: none;
  padding: 5px;
  columns: 50;
}

.date > input[type="date"] {
  width: 19px;
  filter: invert(1);
  height: 16px;
  text-align: center;
  padding-top: 1px;
}

.date button {
  color: rgb(255, 255, 255);
  background: #000;
  border: 1px solid rgb(133, 125, 125);
  padding: 4px 6px;
  border-radius: 14px;
  font-size: 10px;
}

.date > .btn-done:hover {
  border: 1px solid rgb(196, 38, 38);
  background: rgb(61, 58, 58);
  color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  font-weight: bolder;
}

.detail > p {
  text-align: justify;
  width: 96%;
}

.inputs-display {
  /* display: none; */
  display: block;
}

.text-display {
  display: none;
  /* display: block; */
}

/* completed---------------------- */
.complete-container img {
  height: 10px;
  width: 10px;
  rotate: 180deg;
}

.date-contain p {
  font-size: 10px;
  color: #c4c7c5;
}

.list-container {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid gray;
}

.list-container > .right-img {
  align-self: center;
}

.list-container > .right-img > img {
  width: 15px;
  height: 15px;
  opacity: 0;
  cursor: pointer;
}

.list-container > .right-img > img:hover {
  transition: 0.3s all;
  opacity: 1;
  cursor: pointer;
}

.inner-main-list-contain {
  max-height: 80%;
  overflow-y: auto;
}
