:root {
  --bg-color: #1b1c1d;
  --pop-color: #222325;
}

body {
  background-color: var(--bg-color);
}

nav {
  padding: 11px 30px;
}

.contain {
  gap: 5px;
}

.logo {
  gap: 2px;
}

.logo > h1 {
  font-size: 25px;
}

.logo-img {
  width: 35px !important;
  height: 35px !important;
}

header .contain > img {
  width: 30px;
  height: 30px;
}

/* ------------------------------------------------- */
.sidebar-container {
  width: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  /* height: 100%; */
  transition: 0.5s all;
  transition-timing-function: cubic-bezier(0.53, -0.09, 0.58, 1);
  height: 92vh;
  border-right: 1px solid rgb(48, 48, 48);
  position: absolute;
  left: 0;
  z-index: 100;
}

.sidebar button {
  background-color: rgb(45 42 42);
  color: white;
  padding: 16px 0;
  width: 120px;
  font-size: 15px;
  border-radius: 14px;
}

.sidebar button:hover {
  background-color: rgb(52, 47, 47);
}

.sidebar .list {
  border-radius: 2px solid white;
  text-transform: capitalize;
}

.ArrowHead > img {
  width: 15px;
  height: 15px;
}

.sidebar-container {
  height: 92vh;
  background-color: rgba(137, 43, 226, 0);
}

@media (max-width: 1024px) {
  .sidebar-container {
    position: absolute !important;
    background-color: #1b1c1d;
    z-index: 10000;
    left: 0;
  }

  main > .container {
    flex-direction: column;
    align-items: center;
  }

  .main-contain > .contain-content {
    width: 100% !important;
  }
}

.message {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 150px;
}

/* #no-created-list{
    display: none;
  } */

#no-open-list {
  display: none;
}

.message > img {
  height: 164px;
  width: auto;
  border-radius: 8px;
}
.message > p {
  color: rgb(157, 153, 153);
  font-size: 15px;
  letter-spacing: 2px;
}
.message > h1 {
  font-size: 25px;
  letter-spacing: 2px;
}
/* ------------------main */

.task-content-container {
  flex: 1 1 100px;
  min-width: 20vw;
  max-width: 39vw; /* never bigger than 100px */
  position: relative;
  z-index: 2;
  /* background: red; */
}

.overflow-container {
  min-width: 28vw;
  max-width: 100vw;
  display: flex;
  overflow-x: auto;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

main {
  position: relative;
}

main > .container {
  height: 92vh;
}

.main-contain {
  height: 92vh;
  /* background: red; */
}

.main-contain > .contain-content {
  width: 100%;
  height: 100%;
}

.main-contain .contain {
  min-height: 20%;
  max-height: 90%;
  width: 100%;
  background-color: black;
  padding: 26px 26px;
  border-radius: 30px;
}

/* //---------------------------------------------------------------- */

.main-list-dropDown > details {
  position: relative;
}

.main-list-dropDown > summary {
  list-style: none;
  cursor: pointer;
}

/* hide default arrow */
.main-list-dropDown summary::-webkit-details-marker {
  display: none;
}

.main-list-dropDown > ul {
  position: absolute;
  top: 100%;
  right: 13px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 5px;
  min-width: 80px;
  border: 1px solid #786565;
}

.main-list-dropDown > ul > li {
  padding: 9px 12px;
  cursor: pointer;
  background-color: #272727;
  position: relative;
  z-index: 10;
  /* left: -70px; */
  border-radius: 5px;
}

.main-list-dropDown > ul > li:hover {
  background: #1c1c1c;
}

.main-list-dropDown > ul > li:active {
  background: rgb(68, 68, 68);
}

/* ------------------------------------------------------------- */

img[src="./assets/Dots.svg"] {
  width: 15px;
  height: 15px;
}

.head h3 {
  font-size: 20px;
  font-weight: lighter;
}

.empty-task {
  margin: 30px 0;
}

.empty-task .content {
  width: 60%;
  text-align: center;
  gap: 10px;
}

.head .add-task {
  padding: 8px 15px;
  border-radius: 30px;
}

.head .add-task:hover {
  background-color: var(--bg-color);
}

.no-task-img {
  height: 100px;
  width: 143px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}

.completed-task {
  display: none;
}

/* ------------------------------------------------ */

.pop-container {
  width: 100%;
  height: 100%;
  background-color: #000000e0;
  display: none;
  z-index: 90000;
}

.pop-container .error {
  padding: 3px;
  color: red;
  font-size: small;
  display: none;
}

.pop-pop {
  background-color: var(--pop-color);
  padding: 60px 45px;
  border-radius: 30px;
}

#pop-text {
  border-radius: 5px !important;
  color: black;
  letter-spacing: 1px;
}

.pop-btn {
  background: none;
  color: rgb(0, 92, 240);
  font-weight: 200;
}

.pop-btn:active {
  color: rgb(58, 127, 238);
}

.rename-btn{
    background: none;
  color: rgb(0, 92, 240);
  font-weight: 200;
}

.delete-btn{
  background: none;
  font-weight: 200;
}

/* ---------------------------------------------- */

.list-task-contain {
  min-height: 40px;
  max-height: 200px;
  width: 100%;
  padding: 5px;
  /* display: grid;  */
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: #7d7e82 solid 1px;
  border-radius: 8px;
  padding: 2px 0;
  vertical-align: middle;
}

input[type="text"]:focus {
  outline: none;
  background-color: #323335;
}

input[type="text"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #323335 inset !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-text-transform: uppercase;
}

input[type="text"] {
  background: #323335;
  color: #fff !important;
  border: none;
}

.detail-input:focus {
  outline: none;
  background-color: #323335;
  overflow: hidden;
}

.detail-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #323335 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.task-container {
  border-radius: 20px;
}

.details-contain {
  width: 100%;
}

.para-display {
  width: 100%;
  overflow: hidden;
  min-height: 0;
  max-height: 47px;
  line-height: 15px;
}

.dots-input {
  display: inline-block;
}

.detail > textarea {
  resize: none;
  padding: 5px;
  columns: 50;
}

.date > input[type="date"] {
  width: 19px;
  filter: invert(1);
  height: 16px;
  text-align: center;
  padding-top: 1px;
  cursor: pointer;
}

.date > input[type="date"]:focus {
  filter: invert(1);
}

.date button {
  color: rgb(255, 255, 255);
  background: #000;
  border: 1px solid rgb(133, 125, 125);
  padding: 4px 6px;
  border-radius: 14px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.date button:active {
  background: #545353;
}

.date > .btn-done:hover {
  border: 1px solid rgb(196, 38, 38);
  background: rgb(61, 58, 58);
  color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  font-weight: bolder;
}

.detail > p {
  text-align: justify;
  width: 96%;
}

.date-inner-list span {
  color: rgb(172, 161, 161);
}

.inputs-display {
  /* display: none; */
  display: flex;
  align-items: center;
  gap: 9px;
}

.text-display {
  display: none;
  /* display: block; */
}

/* completed---------------------- */
.complete-container {
  display: none;
  margin-top: 10px;
}

.date-contain p {
  font-size: 10px;
  color: #c4c7c5;
}

.list-container {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid gray;
}

.list-container > .right-img {
  align-self: center;
}

.list-container > .right-img > img {
  width: 15px;
  height: 15px;
  opacity: 0;
  cursor: pointer;
}

.list-container > .right-img > img:hover {
  transition: 0.3s all;
  opacity: 1;
  cursor: pointer;
}

.inner-main-list-contain {
  max-height: 80%;
  overflow-y: auto;
}

/* Remove default arrow */
summary {
  list-style: none;
  color: white;
}
summary::-webkit-details-marker {
  display: none;
}

/* Animation target */
.completed-list-container {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}

/* When details is open */
details[open] .completed-list-container {
  max-height: 100%;
  opacity: 1;
  transform: translateY(0);
}

details[open] .arrow {
  max-height: 100%;
  opacity: 1;
  transform: translateY(0);
  transform: rotate(180deg);
}

.arrow {
  transition: transform 0.3s ease;
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
}

/* ---------------------------------------------- */